body {
  margin: 0;
  font-family:'Roboto';
  height: 100%;
  background-color: #3a3a3a;
  /* background: rgba(236, 230, 230, 0.993); */
  text-align: center;
}

.layout {
  width: 100%;
  height: auto;
  display: grid; 
}

.nav {

  background-color: #3a3a3a;
  color: #dbdcdb;
  box-shadow: 1px 1px 1px 1px rgba(105, 105, 105, 0.664);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: right;
}
.nav h1 {
  font-size: 40px;
  margin: 0;
  margin-right: 380px;
}

.nav h2 {
  margin-right: 20px;
  

}

.busqueda {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: grid;
  grid-template-columns: 30% 70%;
}





